.maxWidth150{
max-width: 150px;

}

.center {
  align-content: center;
  align-items: center;
  align-self: center;
}

.reverse {
  flex-direction: row-reverse;
}

.titleClass{

  font-family: "Arial", Gadget, sans-serif;
    font-size: 5rem;
    letter-spacing: 10px;
    font-weight: 700;
    text-decoration: none;
    font-style: normal;
    font-variant: small-caps;
    font-feature-settings: normal;

}

.backColorLigthGray {
  background-color: #ededed;


}

.caps {
  font-variant: small-caps;
}

.deep-celeste{
  background-color: lightseagreen
}

.hrWhite {
  border-top: 5px solid rgba(255, 255, 255, 0);
  background-color: white;
}

.jumboHead {
 padding: 15px !important;
 background-color: #3e4551 !important;
}
.card {
  min-height: 350px;
    max-height: 350px;
}
.card > .view{
 height: 150px;
}